$primary: #4f46e5;
$primary-light: #6366f1;
$primary-dark: #3730a3;

$success: #22c55e;
$warning: #facc15;
$error: #ef4444;
$info: #3b82f6;

$bg: #f3f4f6; // general background
$card: #ffffff; // cards, panels
$sidebar: #1f2937; // sidebar background
$text-primary: #111827;
$text-secondary: #6b7280;

$bg-main: #f3f4f6; // main page background
